<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/build/images/icon.png" type="image/x-icon">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <!-- slider stylesheet -->
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
        <!--===============================================================================================-->

        <!-- bootstrap core css -->
        <!--===============================================================================================-->	
            <link rel="stylesheet" type="text/css" href="/build/css/bootstrap.css" />
        <!--===============================================================================================-->	

        <!-- fonts style -->
        <!--===============================================================================================-->	
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
        <!--===============================================================================================-->

        <!-- responsive style -->
        <!--===============================================================================================-->	
            <link href="/build/css/responsive.css" rel="stylesheet" />
        <!--===============================================================================================-->	
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
        <!--===============================================================================================-->	

        <!-- Custom styles for this template -->
        <!--===============================================================================================-->	
            <link href="/build/css/style.css" rel="stylesheet" />
        <!--===============================================================================================-->	
            {{ encore_entry_link_tags('app') }}
        <!--===============================================================================================-->	
        {% block stylesheets %} {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header class="header_section">
        <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">

            <a class="navbar-brand" href="{{ path('app_utilisateur') }}">
            <img src="/build/images/miam1.png" alt="" /><span>
              Miam chez moi
            </span>
            </a>
            
            {% if app.user.userIdentifier is defined %}
            <a class="nav-link" href="#" >Panier</a><br>
            {% endif %}


            <a class="nav-link" href="{{ path('app_menus') }}" >A la carte</a><br>


            <a class="nav-link" href="#" >Suivie des commandes</a><br>


            <a class="nav-link" href="#" >Mention légal</a><br>


            <a class="nav-link" href="#" >Aide</a><br>


            {% if not app.user.userIdentifier is defined %}
            <a class="nav-link" href="{{ path('app_login') }}" >Connexion</a><br>
            {% endif %}


            {% if app.user.userIdentifier is defined %}
            <a class="nav-link" href="{{ path('app_out') }}">Logout</a>
            <h class="nav-link">
            <h class="user">{{ app.user.userIdentifier }}</h></h>
            {% endif %}


        </nav>
        </div>
        </header>

        {% block section %}
        <section class=" slider_section position-relative">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="slider_item-box">
        <div class="slider_item-container">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
        <div class="slider_item-detail">
        {% block body %}
        {% endblock %}
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        {% endblock %}
    </body>
</html>
